DATABASE_URL="postgres://4821ca316ccc68d53b21543796c0718dbab5024a712840091f6b40b0ee928948:sk_-l6UeBxATOC0K6MKZ9vyy@pooled.db.prisma.io:5432/postgres?sslmode=require"

PORT=5000
APP_URL=
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=15m
rate_limit_window_ms=900000


REDIS_USER=default
REDIS_PASSWORD=JN2W5df0n23Temg3frFzmho9RzMLBss1
REDIS_HOST=streamlike-doting-elm-23155.db.redis.io
REDIS_PORT=10850

SMTP_USER=tanvirsorforaz1@gmail.com
EMAIL_SENDER=tanvirsorforaz1@gmail.com
SMTP_PASSWORD=zxbw otfk doao oear



JWT_ACCESS_SECRET=abcdefgh
JWT_REFRESH_SECRET=abcdefghi
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development